<section class="text-gray-500 bg-blue-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="w-full mb-6 lg:w-1/2 lg:mb-0">
        <h1 class="mb-2 text-2xl font-medium text-white sm:text-3xl title-font">Professional Experience</h1>
        <div class="w-20 h-1 bg-red-500 rounded"></div>
      </div>
      <p class="w-full text-base leading-relaxed lg:w-1/2">Whatever cardigan tote bag tumblr hexagon brooklyn
        asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep
        jianbing selfies heirloom prism food truck ugh squid celiac humblebrag.</p>
    </div>
    <div class="flex flex-wrap -m-4">
      {% for experience in site.experience %}
      <div class="p-4 xl:w-1/4 md:w-1/2">
        <div class="p-6 bg-gray-800 rounded-lg">
          <img class="object-cover object-center w-full h-40 mb-6 rounded" src="https://dummyimage.com/721x401"
            alt="content">
          <h3 class="text-xs font-medium tracking-widest text-red-500 title-font">{{ experience.position }}</h3>
          <a class="mb-4 text-lg font-medium text-white title-font"
            href="{{ experience.url }}">{{ experience.name }}</a>
          <!-- <p class="text-base leading-relaxed">{{ experience.description }}</p> -->
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
