<div class="relative overflow-hidden">
  <!-- SVG BG -->
  <div class="hidden sm:block sm:absolute sm:inset-y-0 sm:h-full sm:w-full">
    <div class="relative h-full max-w-screen-xl mx-auto" id="particles-image-src" data-controller="particles"></div>
  </div>
  <!-- SVG BG -->

  <div class="relative pt-6 pb-12 sm:pb-16 md:pb-20 lg:pb-28 xl:pb-32">
    <div class="max-w-screen-xl px-4 mx-auto mt-10 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 xl:mt-28">
      <div class="text-center">
        <h2
          class="text-4xl font-extrabold leading-10 tracking-tight text-gray-100 sm:text-5xl sm:leading-none md:text-6xl">
          Andrew Mason
          <br />
          <span class="text-red-500">Ruby on Rails Developer
          </span>
        </h2>
        <p class="max-w-md mx-auto mt-3 text-base text-cool-gray-200 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
          Hello! 👋 My name is Andrew Mason, and I am a full-stack developer specializing in Ruby on Rails. I am
          passionate about open source and I also enjoy podcasting. When I am not at the keyboard, you will likely
          find
          me surfing or digging into a good book.

          I am currently looking for my next role!
        </p>
        <div class="max-w-md mx-auto mt-5 sm:flex sm:justify-center md:mt-8">
          <div class="rounded-md shadow">
            <a href="#" class="btn btn-primary">
              Hire me
            </a>
          </div>
          <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3">
            <a href="#" class="btn btn-secondary">
              Blog
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
