<div class="flex flex-col h-full overflow-hidden border-2 border-gray-800 rounded-lg">
  <!-- Image -->
  <div class="flex-shrink-0">
    <img class="object-cover object-center w-full lg:h-48 md:h-36" src="{{ post.header_img }}"
      alt="{{ post.title }} header image">
  </div>
  <!-- Body -->
  <div class="flex flex-col justify-between flex-1 p-6">
    <!-- Content -->
    <div class="flex-1">
      <a class="pb-2" href="{{ post.url }}">
        <h2 class="mb-1 text-xs font-medium tracking-widest text-gray-500 title-font">CATEGORY</h2>
        <h1 class="mb-3 text-lg font-medium text-white title-font">{{ post.title }}</h1>
      </a>
    </div>
    <!-- /Content -->

    <!-- Footer -->
    <div class="flex items-center mt-6">
      <span
        class="inline-flex items-center py-1 pr-3 ml-auto mr-3 text-sm leading-none text-gray-600 border-r-2 border-gray-800 lg:ml-auto md:ml-0">
        {% include svgs/eye_icon.svg %}
        {{ post.time_to_read }} read
      </span>
      <span class="inline-flex items-center text-sm leading-none text-gray-600">
        {{ post.date | date: "%B %-d, %Y" }}
      </span>
    </div>
    <!-- /Footer -->
  </div>
  <!-- /Body -->
</div>
