---
name: Episode
description: A podcast list item
variables:
  title:
    - string
    - The title of the episode
  url:
    - url
    - The url of the episode
  date:
    - date
    - The publish date of the episode
---

<a href="{{ url }}" target="_blank" class="block no-underline transition duration-150 ease-in-out hover:bg-gray-50 focus:outline-none focus:bg-gray-50">
  <div class="flex items-center px-4 py-4 sm:px-6">
    <div class="flex items-center flex-1 min-w-0">
      <div class="flex-1 min-w-0 px-4 md:grid md:grid-cols-2 md:gap-4">
        <div class="text-sm font-medium leading-5 text-indigo-600 truncate">
          {{ title }}
        </div>
        <div class="hidden md:block">
          <div class="text-sm leading-5 text-gray-900">
            Published on
              <time datetime="{{ date | date: "%Y-%B-%D" }}">
              {{ date | date: "%B %-d, %Y" }}
            </time>
          </div>
        </div>
      </div>
    </div>
    <div>
      <svg class="w-5 h-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
      </svg>
    </div>
  </div>
</a>
