<div class="mb-8 lg:mb-12">
  <div>
    <h3 class="text-lg font-medium leading-6 text-gray-900">
      Examples
    </h3>
  </div>
  <div class="pt-5 mt-5 border-t border-gray-200">
    {% component_previews %}
  </div>
</div>
