<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}
</head>

{% if bridgetown.environment == "development" %}
{% assign body_classes = "debug-screens min-h-screen text-gray-100 bg-cool-gray-900" %}
{% else %}
{% assign body_classes = "min-h-screen text-gray-100 bg-cool-gray-900" %}
{% endif %}

<body class="{{ body_classes }} {{ page.layout }} {{ page.page_class }}">
  {% include navbar.html %}
  <main class="main">
    {{ content }}
  </main>
  {% include footer.html %}
</body>

</html>
