<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}
</head>

{% if bridgetown.environment == "development" %}

<body class="debug-screens min-h-screen text-gray-100 bg-cool-gray-900 {{ page.layout }} {{ page.page_class }}">
  {% else %}

  <body class="min-h-screen text-gray-100 bg-cool-gray-900 {{ page.layout }} {{ page.page_class }}">
    {% endif %}
    {% include navbar.html %}

    <main class="main">
      {{ content }}
    </main>

    {% include footer.html %}
  </body>

</html>
