<!DOCTYPE html>
<html lang="en">
  <head>
    {% render "shared/head", metadata: site.metadata, title: page.title %}
  </head>

  {% if bridgetown.environment == "development" %}
    {% assign body_classes = "debug-screens font-body min-h-screen bg-gray-100 flex flex-col" %}
  {% else %}
    {% assign body_classes = "font-body min-h-screen bg-gray-100 flex flex-col" %}
  {% endif %}

  <body class="{{ body_classes }} {{ page.layout }} {{ page.page_class }}">
    {% if site.metadata.banner %}
      {% rendercontent "shared/banner", message: site.metadata.banner.message, full_message: site.metadata.banner.full_message %}
        {% with action %}
          <div class="rounded-md shadow-sm">
            {% render "shared/button", text: "GitHub Repo", url: "https://github.com/andrewmcodes/personal-website", local: false, variant: "white" %}
          </div>
        {% endwith %}
      {% endrendercontent %}
    {% endif %}

    {% render "shared/navbar", navigation: site.metadata.navigation, primary: site.metadata.actions.primary, secondary: site.metadata.actions.secondary %}
    <main class="flex-grow bg-gray-50">
      <section id="swup">
        {{content}}
      </section>
      {% render "shared/subscribe" %}
    </main>
    {% render "shared/footer", author: site.metadata.author.name, social: site.data.social %}
  </body>
</html>
