---
layout: default
---

<section>
  <div class="pb-32 gradient-blue">
    <header class="py-10">
      <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold leading-9 text-white">
          {{ page.title }}
        </h1>
      </div>
    </header>
  </div>
  <div class="-mt-32">
    <div class="px-4 pb-12 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="px-5 py-6 bg-white rounded-lg shadow sm:px-6">
        <div class="markdown">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</section>
