---
layout: default
---

<section class="py-10">
  {% rendercontent 'shared/container', variation: "wrapper" %}
    <div class="overflow-hidden bg-white">
      <div class="relative py-16 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="absolute top-0 bottom-0 hidden w-screen lg:block bg-gray-50 left-2/3"></div>
        <div class="mx-auto text-base lg:max-w-none">
          <p class="mb-2 text-sm font-semibold leading-6 tracking-wide text-pink-600 uppercase">
            <a href="/podcasts/">Podcasts</a> > <a href="{{ page.url }}">{{ page.title }}</a>
          </p>
          <a target="_blank" href="{{ page.show_url }}" class="mt-2 mb-8 text-3xl font-extrabold leading-8 tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
            {{ page.title }}
          </a>
        </div>
        <div class="lg:grid lg:grid-cols-2 lg:gap-8">
          <div class="relative mb-8 lg:mb-0 lg:row-start-1 lg:col-start-2">
            <div class="relative mx-auto text-base lg:max-w-none">
              <div class="relative pb-7/12 lg:pb-0">
                <img src="{{ page.image_url }}" alt="" width="1184" height="1376" class="absolute inset-0 object-cover object-center w-full h-full rounded-lg shadow-lg lg:static lg:h-auto">
              </div>
            </div>
          </div>
          <div>
            <ul>
              {{ content }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  {% endrendercontent %}
</section>
