---
layout: default
---

<article class="container w-full mx-auto my-12 bg-white rounded shadow-2xl lg:max-w-5xl">
  {% if page.header_img_path %}
  <div class="flex justify-center border-b">
    <img src="{{ page.header_img_path }}" alt="{{ page.title}} - Header Image" class="object-cover w-full" />
  </div>
  {% endif %}
  <div class="px-4 py-12 mx-auto lg:px-8">
    <h1 class="mb-4 text-2xl font-semibold text-left lg:text-center lg:text-4xl lg:mb-8 font-heading">
      {{ page.title }}
    </h1>
    <div class="w-full mx-auto">
      <section class="markdown ">
        {{ content }}
      </section>
    </div>
  </div>
</article>
