---
layout: default
---

<section>
  <div class="pb-32 gradient-blue">
    <header class="py-10">
      <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold leading-9 text-white">
          {{ page.title }} -
          {{ page.category }}
        </h1>
      </div>
    </header>
  </div>
  <div class="-mt-32">
    <div class="px-4 pb-12 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="px-5 py-6 rounded-lg shadow sm:px-6">
        {{ content }}
      </div>
    </div>
  </div>
</section>

<!--
<ul>
  {% assign current_section = "" %}
  {% for doc_page in docs %}
  {% assign active = "" %}
  {% if doc_page.top_section and current_section != doc_page.top_section %}
  {% assign current_section = doc_page.top_section %}
  <li class="mt-4 mb-2">
    <h3 class="title is-5">{{ current_section }}</h3>
  </li>
  {% endif %}

  {% if doc_page.category == page.category %}
  {% assign active = "has-text-weight-bold" %}
  {% endif %}

  {% unless doc_page.hide_in_toc %}
  <li><a href="{{ doc_page.url }}" class="{{ active }}">{{ doc_page.title }}</a></li>
  {% endunless %}
  {% endfor %}
</ul> -->
