<div class="font-mono text-lg">
  <div id="typed-strings">
    <p>I develop <strong class="text-red-500">Ruby on Rails</strong> applications.</p>
    <p>I maintain <strong class="text-red-500">open source</strong> libraries and projects.</p>
    <p>I write <strong class="text-red-500">blog posts</strong>.</p>
    <p>I podcast about <strong class="text-red-500">Ruby</strong> and web development.</p>
  </div>
  <span id="typed"></span>
</div>
