---
name: "Landing: Hire Me Section"
description: The 'hire me' section of the landing page.
---
<div class="pb-16 mt-8 sm:mt-12 sm:pb-20 lg:pb-28">
  <div class="relative">
    <div class="absolute inset-0 -mt-12 bg-gray-900 sm:-mt-16 h-1/2"></div>
    <div class="relative max-w-screen-xl px-4 mx-auto sm:px-6 lg:px-8">
      <div class="max-w-lg mx-auto overflow-hidden rounded-lg shadow-lg lg:max-w-none lg:flex">
        <div class="px-6 py-8 bg-white lg:flex-shrink-1 lg:p-12">
          <h3 class="text-2xl font-extrabold leading-8 text-gray-900 sm:text-3xl sm:leading-9">
            Hire Me!
          </h3>
          <p class="mt-6 prose">
            I am currently searching for a role as a full stack Ruby on Rails developer. My dream job would be working
            with talented engineers on a product, not just the front or back end of a stack.
          </p>
          <div class="mt-8">
            <div class="flex items-center">
              <h4
                class="flex-shrink-0 pr-4 text-sm font-semibold leading-5 tracking-wider text-pink-600 uppercase bg-white">
                Quick Navigation:
              </h4>
              <div class="flex-1 border-t-2 border-gray-200"></div>
            </div>
            <div class="prose">
              <ul>
                <li>
                  <a href="/about/">Learn more about me</a>
                </li>
                <li>
                  <a href="/experience/">View digital resume</a>
                </li>
                <li>
                  <a href="/assets/pdf/Andrew_Mason_Resume.pdf" target="_blank">View PDF resume</a>
                </li>
                <li>
                  <a href="/projects/">View some of my projects</a>
                </li>
                <li>
                  <a href="/projects/">Check out podcast appearances</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="px-6 py-8 text-center bg-gray-50 lg:flex-shrink-0 lg:flex lg:flex-col lg:justify-center lg:p-12">
          <p class="text-xl font-medium leading-6 text-gray-900">
            Want to learn more?
          </p>
          <div class="mt-6">
            <div class="rounded-md shadow">
              <a href="/contact"
                class="flex items-center justify-center px-5 py-3 text-base font-medium leading-6 text-white transition duration-150 ease-in-out bg-gray-900 border border-transparent rounded-md hover:bg-gray-800 focus:outline-none focus:shadow-outline">
                Contact Me
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
