<article class="container w-full mx-auto mb-12 bg-white rounded shadow-2xl lg:max-w-5xl">
  <div class="px-4 py-12 mx-auto">
    <div class="markdown">
      {{content}}
    </div>
  </div>
</article>
