<article class="container w-full mx-auto mb-12 bg-white rounded shadow-2xl lg:max-w-5xl">
  <div class="py-12 mx-auto lg:px-12">
    <div class="markdown">
      {{content}}
    </div>
  </div>
</article>
