<article class="w-full mx-auto mb-12 bg-white rounded shadow-2xl lg:container lg:max-w-5xl">
  <div class="px-8 py-12 mx-auto lg:px-12">
    <div class="markdown">
      {{content}}
    </div>
  </div>
</article>
