<section class="z-0">
    <header class="py-10 text-center">
      <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <h1 class="text-3xl font-extrabold leading-9 tracking-tight text-white sm:text-4xl sm:leading-10">
          {{ title }}
        </h1>
      </div>
    </header>
  </div>
  <article class="sm:mt-8">
    <div class="pb-12 mx-auto max-w-7xl sm:px-6 lg:px-8">
      {{ content }}
    </div>
  </article>
</section>
