<footer class="w-full text-gray-100 shadow-md bg-gray-950">
  <div class="container px-4 mx-auto lg:py-8">
    <div class="flex flex-col items-center lg:flex-row">
      <div class="w-full text-sm text-center lg:w-auto lg:mr-auto lg:text-left">
        &copy; 2020 {{ author }}. All rights reserved.
      </div>
      <div class="flex items-center justify-center mt-4 lg:mt-0">
        {% for item in social %}
        <span class="sr-only">{{ item.name | capitalize }}</span>
        {% endfor %}
      </div>
    </div>
  </div>
</footer>
