<form>
  <div class="mb-4">
    <input
      class="block w-full px-4 py-3 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded appearance-none focus:bg-white focus:border-gray-500 focus:outline-none"
      type="text" placeholder="Name">
  </div>
  <div class="mb-4">
    <input
      class="block w-full px-4 py-3 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded appearance-none focus:bg-white focus:border-gray-500 focus:outline-none"
      type="email" placeholder="Email">
  </div>
  <div class="mb-4">
    <textarea
      class="block w-full px-4 py-3 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded appearance-none focus:bg-white focus:border-gray-500 focus:outline-none"
      placeholder="Write something..." rows="5">

      </textarea>
  </div>
  <div>
    <button
      class="inline-block w-full px-8 py-4 leading-none text-white bg-red-500 rounded shadow hover:bg-red-600">Submit</button>
  </div>
</form>
