<nav class="z-20 bg-gray-800 shadow-lg" data-controller="toggle">
  <div class="px-2 mx-auto max-w-7xl sm:px-4 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="hidden px-2 lg:items-center lg:flex lg:px-0">
        <div class="flex-shrink-0">
          <a href="/" class="hidden text-xl text-white lg:inline-block">Andrew Mason</a>
        </div>
        <div class="hidden lg:block lg:ml-6">
          <div class="flex">
            {% for item in navigation %}
              <a href="{{ item.url }}" class="px-3 py-2 ml-4 text-sm font-medium leading-5 text-gray-300 transition duration-150 ease-in-out rounded-md hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">
                {{ item.name }}
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="flex lg:hidden">
        <a href="/" class="inline-flex items-center justify-center p-2 text-gray-400 transition duration-150 ease-in-out rounded-md hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white">
          <span class="text-lg text-gray-400">
            AM
          </span>
        </a>
      </div>
      <div class="flex justify-center flex-1 px-2 lg:ml-6 lg:justify-end">
        <div class="w-full max-w-lg lg:max-w-xs">
          <label for="search" class="sr-only">Search
          </label>
          <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <svg class="w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
              </svg>
            </div>
            {% render "bridgetown_quick_search/search", placeholder: "Search", input_class: "block w-full py-2 pl-10 pr-3 leading-5 text-gray-300 placeholder-gray-400 transition duration-150 ease-in-out bg-gray-700 border border-transparent rounded-md focus:outline-none focus:bg-white focus:text-gray-900 sm:text-sm" %}
          </div>
        </div>
      </div>
      <div class="flex lg:hidden">
        <!-- Mobile menu button -->
        <button data-action='click->toggle#toggle touch->toggle#toggle' class="inline-flex items-center justify-center p-2 text-gray-400 transition duration-150 ease-in-out rounded-md hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white" aria-label="Main menu" aria-expanded="false">
          <!-- Icon when menu is closed. -->
        <svg class="block w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
          </svg>
          <!-- Icon when menu is open. -->
          <svg class="hidden w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!--
    Mobile menu, toggle classes based on menu state.

    Menu open: "block", Menu closed: "hidden"
  -->
  <div data-target='toggle.toggleable' class="hidden block lg:hidden">
    <div class="px-2 pt-2 pb-3">
      {% for item in navigation %}
        <a href="{{ item.url }}" class="block px-3 py-2 mt-1 text-base font-medium text-gray-300 transition duration-150 ease-in-out rounded-md hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">
          {{ item.name }}
        </a>
      {% endfor %}
    </div>
  </div>
</nav>
