---
name: Navbar
description: The main navigation bar
variables:
  metadata:
    - data
    - metadata for the site
  navigation:
    - data
    - The navigation links
  page:
    - object
    - The page object
---

<nav class="z-10 bg-white shadow" data-controller="toggle" id="topnav">
  <div class="px-2 mx-auto max-w-7xl sm:px-4 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex px-2 lg:px-0">
        <a class="flex items-center flex-shrink-0" href="/">
          {% svg "assets/images/branding/logo_iso_thick.svg" height="36" %}
        </a>
        <div class="hidden space-x-6 lg:ml-6 lg:flex">
          {% for item in navigation.navbar %}
          {% render "shared/nav_link", mobile: false, url: item.link, text: item.name, page_layout: page.layout, page_url: page.url, page: page %}
          {% endfor %}
        </div>
      </div>
      <div class="flex items-center justify-center flex-1 px-2 lg:px-0 lg:ml-6 lg:justify-end">
        <div class="w-full max-w-lg lg:max-w-xs">
          <label for="search" class="sr-only">Search</label>
          <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <svg class="w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
              </svg>
            </div>
            {% render "bridgetown_quick_search/search", placeholder: "Search", input_class: "block w-full py-2 pl-10 pr-3 leading-5 placeholder-gray-500 transition duration-150 ease-in-out bg-white border border-gray-300 rounded-md focus:outline-none focus:placeholder-gray-400 focus:border-blue-300 focus:shadow-outline-blue sm:text-sm" %}
          </div>
        </div>
      </div>
      <div class="flex items-center lg:hidden">
        <button data-action='click->toggle#toggle touch->toggle#toggle' class="inline-flex items-center justify-center p-2 text-gray-400 transition duration-150 ease-in-out rounded-md hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500" aria-label="Main menu" aria-expanded="false">
          <svg class="block w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
          </svg>
          <svg class="hidden w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div data-target='toggle.toggleable' class="hidden lg:hidden">
    <div class="pt-2 pb-3 space-y-1">
      {% for item in navigation.navbar %}
        {% render "shared/nav_link", mobile: true, url: item.link, text: item.name, page_url: page.url %}
      {% endfor %}
    </div>
  </div>
</nav>
