<section class="z-0">
  {% if image %}
    <div class="pb-32 bg-gray-800" style="
        background-blend-mode: multiply;
        background-image: url('{{ image }}');
        background-repeat: no-repeat;
        background-size: cover;">
  {% else %}
    <div class="pb-32 bg-gray-800">
  {% endif %}
    <header class="py-10 text-center">
      <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <h1 class="text-3xl font-extrabold leading-9 tracking-tight text-white sm:text-4xl sm:leading-10">
          {{ title }}
        </h1>
      </div>
    </header>
  </div>
  <main class="-mt-32">
    <div class="px-4 pb-12 mx-auto max-w-7xl sm:px-6 lg:px-8">
      {{ content }}
    </div>
  </main>
</section>
