<section>
  <div class="bg-gray-900">
    <div class="container px-4 py-12 mx-auto">
      <h1 class="text-6xl font-bold tracking-wide text-gray-100">
        {{ title }}
      </h1>
    </div>
  </div>
  <div class="container py-12 mx-auto mb-8">
    <div class="markdown">
      {{ content }}
    </div>
  </div>
</section>
