<div class="relative bg-white">
  <div class="relative max-w-screen-xl px-4 py-8 mx-auto sm:py-12 sm:px-6 lg:py-16">
    <div class="max-w-2xl mx-auto lg:max-w-none lg:ml-0 lg:mr-auto lg:w-2/3 lg:pr-10">
      <h2 class="mt-4 text-3xl font-extrabold leading-9 text-gray-900 lg:mt-0 sm:text-4xl sm:leading-10 ">
        Want more Ruby &amp; Rails content?
      </h2>
      <p class="mt-6 text-lg leading-7 text-gray-500">
        Subscribe to my mailing list! Don't worry, I won't be selling your data or spamming you with weekly emails. If you get an email from me, that means I put time into deciding if what I have to say at that time is worth stealing your attention for a few minutes.
      </p>
      <div class="mt-8 overflow-hidden">
        <form action="https://app.convertkit.com/forms/1483423/subscriptions" aria-labelledby="newsletter-headline"
          class="mt-8 sm:flex" data-format="inline"
          data-options="{&quot;settings&quot;:{&quot;after_subscribe&quot;:{&quot;success_message&quot;:&quot;Success! Now check your email to confirm your subscription.&quot;,&quot;action&quot;:&quot;redirect&quot;,&quot;redirect_url&quot;:&quot;https://andrewm.codes&quot;},&quot;analytics&quot;:{&quot;google&quot;:null,&quot;facebook&quot;:null,&quot;segment&quot;:null,&quot;pinterest&quot;:null},&quot;modal&quot;:{&quot;trigger&quot;:&quot;timer&quot;,&quot;scroll_percentage&quot;:null,&quot;timer&quot;:5,&quot;devices&quot;:&quot;all&quot;,&quot;show_once_every&quot;:15},&quot;powered_by&quot;:{&quot;show&quot;:true,&quot;url&quot;:&quot;https://convertkit.com?utm_source=dynamic&amp;utm_medium=referral&amp;utm_campaign=poweredby&amp;utm_content=form&quot;},&quot;recaptcha&quot;:{&quot;enabled&quot;:false},&quot;return_visitor&quot;:{&quot;action&quot;:&quot;show&quot;,&quot;custom_content&quot;:&quot;&quot;},&quot;slide_in&quot;:{&quot;display_in&quot;:&quot;bottom_right&quot;,&quot;trigger&quot;:&quot;timer&quot;,&quot;scroll_percentage&quot;:null,&quot;timer&quot;:5,&quot;devices&quot;:&quot;all&quot;,&quot;show_once_every&quot;:15},&quot;sticky_bar&quot;:{&quot;display_in&quot;:&quot;top&quot;,&quot;trigger&quot;:&quot;timer&quot;,&quot;scroll_percentage&quot;:null,&quot;timer&quot;:5,&quot;devices&quot;:&quot;all&quot;,&quot;show_once_every&quot;:15}},&quot;version&quot;:&quot;5&quot;}"
          data-sv-form="1483423" data-uid="7f856ce512" data-version="5" method="post" min-width="400 500 600 700 800">
          <ul class="formkit-alert formkit-alert-error" data-element="errors" data-group="alert"></ul>
          <div class="flex flex-col justify-center w-full sm:flex-row sm:justify-start" data-element="fields"
            data-stacked="false">
            <input aria-label="Email address"
              class="w-full px-5 py-3 text-base leading-6 text-gray-900 placeholder-gray-500 transition duration-150 ease-in-out bg-white border border-gray-300 rounded-md appearance-none focus:outline-none focus:shadow-outline focus:border-blue-300 sm:max-w-xs"
              name="email_address" placeholder="Enter your email" required type="email" />
            <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3 sm:flex-shrink-0">
              <button
                class="flex items-center justify-center w-full px-5 py-3 text-base font-medium leading-6 text-white transition duration-150 ease-in-out bg-blue-600 border border-transparent rounded-md hover:bg-green-400 focus:outline-none focus:shadow-outline"
                data-element="submit">
                Subscribe
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="h-56 bg-blue-600 sm:h-72 lg:absolute lg:right-0 lg:top-0 lg:h-full lg:w-1/3">
    <img class="w-auto h-full mx-auto lg:w-full lg:h-auto lg:mt-12" src="https://res.cloudinary.com/andrewmcodes/image/upload/c_scale,q_auto:good,w_760/v1593790312/andrewm.codes/paper_plane_wzb4hp.png"
      alt="Support team" />
  </div>
</div>
