<div class="p-4">
  <div class="flex flex-col h-full p-8 bg-gray-200 rounded-lg">
    <div class="flex items-center mb-3">
      <div
        class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 mr-3 text-white bg-red-500 rounded-full">
        <i class="{{ icon }} fa-fw"></i>
      </div>
      <h2>{{ title }}</h2>
    </div>
    <div class="flex-grow">
      <p class="text-base leading-relaxed">{{ details }}</p>
      <a class="inline-flex items-center mt-3 text-red-500">Learn More
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          class="w-4 h-4 ml-2" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </a>
    </div>
  </div>
</div>
