---
name: Table
description: Display content inside of a table
variables:
  header: Content for the header
  rows: Content for the rows
---

<table class="min-w-full">
  <thead>
    <tr>
      {{ header }}
    </tr>
  </thead>
  <tbody class="bg-white">
    {{ rows }}
  </tbody>
</table>
