/* purgecss start ignore */
@import "tailwindcss/base";
/* purgecss end ignore */

th {
  @apply px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50;
}

td {
  @apply px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap border-b border-gray-200;
}

td:first-child {
  @apply px-6 py-4 text-sm font-medium leading-5 text-gray-900 whitespace-no-wrap border-b border-gray-200;
}

.back-to-top-container {
  position: absolute;
  top: 20;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

.back-to-top__button {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease;
}

.back-to-top-container--intersecting .back-to-top__button {
  opacity: 0;
  visibility: hidden;
}

.back-to-top-button {
  -webkit-appearance: none;
  background-color: rgba(255, 255, 255, 0.85);
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 1.5em;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  border: 1px solid #555;
  font-size: 1rem;
}

.formkit-alert {
  @apply text-sm leading-5 text-gray-100;
}

.truncate-4-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

@import "tailwindcss/components";
@import "tailwindcss/utilities";
